<!DOCTYPE html>
<html>
  <head>
    <title>Verifikasi OTP</title>
  </head>
  <body>
    <h1>Verifikasi OTP</h1>
    <form method="POST" action="{{ url_for('kirim_otp') }}">
      <label>Email:</label>
      <input type="email" name="email" required /><br /><br />
      <button type="submit">Kirim OTP</button>
    </form>
    <form method="POST" action="{{ url_for('verifikasi_otp') }}">
      <label>Email:</label>
      <input type="email" name="email" required /><br /><br />
      <label>OTP:</label>
      <input type="text" name="otp" required /><br /><br />
      <button type="submit">Verifikasi OTP</button>
    </form>
  </body>
</html>
